body{

}
header{
  height: 15vh;
}

#title{
  text-align: center;
  text-transform: uppercase;
  font-family: arial;
  letter-spacing: 0.8em;
}
#towers{
  position:relative;
  height: 70vh;
}
#t1{
  width:33%;
  height: 70vh;
  left:0;
  display: inline-block;
  background-color: red;
  position: absolute;
}
#t2{
  width:33%;
  height:70vh;
  left:33%;
  display: inline-block;
  background-color: blue;
  position: absolute;
}
#t3{
  width:33%;
  height:70vh;
  left:66%;
  display: inline-block;
  background-color: green;
  position: absolute;
}
// .towerHolder{
//   width:90%;
//   margin: 0 auto;
//   //height: 20px;
//   //background-color: black;
//   position:absolute;
//   bottom: 0;
// }

.ring {
  background-color: orange;
  height:35px;
  border-radius: 15px;
  //width:90%;
  margin: 5px auto;
  padding:3px;
  text-align: center;
  //position: absolute;
  z-index:10;
}
#towers .selected {
  background-color: grey;
}
#1{
  width: 40%;
}
#2{
  width: 50%;
}
#3{
  width: 60%;
}
#4{
  width: 70%;
}
#5{
  width: 80%
}
#6{
  Width:90%;
}
